extends ../layout
block vars
  - var theme = "white"
block content
    .row
        .help-area.card.col-sm-10.col-sm-offset-1
            .card-top
                span.card-top-text.center
                    img.card-label-icon.small(src='/img/question.png')
                    |  ヘルプ
             br
            .help-box.col-sm-10.col-sm-offset-1.show
                #help-title.help-title 質問質問質問質問質問質問質問質問質問質問質問質問
                #help-answer.help-answer
                    | 回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答
            .help-box.col-sm-10.col-sm-offset-1
                #help-title.help-title 質問質問質問質問質問質問質問質問質問質問質問質問
                #help-answer.help-answer
                    | 回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答
            .help-box.col-sm-10.col-sm-offset-1
                #help-title.help-title 質問質問質問質問質問質問質問質問質問質問質問質問
                #help-answer.help-answer
                    | 回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答
            .help-box.col-sm-10.col-sm-offset-1
                #help-title.help-title 質問質問質問質問質問質問質問質問質問質問質問質問
                #help-answer.help-answer
                    | 回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答
            .help-box.col-sm-10.col-sm-offset-1
                #help-title.help-title 質問質問質問質問質問質問質問質問質問質問質問質問
                #help-answer.help-answer
                    | 回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答回答
