footer
  .container
    .row
      .col-sm-1.col-sm-offset-7
        a(href="/ja/contact") お問合せ
      | 
      .col-sm-1
        a(href="/ja/help") ヘルプ
      | 
      .col-sm-3 ©2017 インターノウス株式会社 all rights reserved.
