header
    .navbar.navbar-default
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/ja/')
                    img(src="/img/logo.png")

            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='/ja/map') Map
                    if !user
                        li.dropdown
                            a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
                                | ログイン
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href="/ja/login") ログイン
                                li.divider(role="separator")
                                li
                                    a(href="/ja/signup") 新規登録
                    else
                        li.dropdown
                            a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
                                if user.name
                                    |  #{user.name}
                                else
                                    |  #{user.username}
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href="/ja/settings/account") アカウント情報
                                li.divider(role="separator")
                                li
                                    a(href="/ja/signout") ログアウト
