extends ../layout
block content
      .row
        .login-area.card.col-sm-4.col-sm-offset-4
          .login-header ログイン
          .card-notice
            i.fa.fa-info-circle
            a(href="") 運営からのお知らせが一件あります。
          form.card-form(method="POST", action='/api/users/login',)
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
              input.form-control(type="email", placeholder="メールアドレス", name='email', id='email', autofocus, required)
            .form-group
              input.form-control(type="password", placeholder="パスワード", name='password', id='password', required)
            p.card-form-notice
              | パスワードの再発行は
              a(href="/ja/forgot") コチラ
            input.btn(type="submit", value="ログイン")
          .card-footer
            a(href="/ja/signup") →新規登録
